<!--==============================================
    Semantically implement a block using section element ================================================-->
    <section class="block block--black block--skewed-right">
      <div class="container">
        <header class="block__header">
          <h2 class="block__heading">
            Lorem ipsum dolor sit amet.
          </h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae vel soluta minima saepe alias. Quod temporibus eaque facere recusandae tempore quo voluptatum nihil dolor inventore?
          </p>
        </header>
      </div>
    </section>


    <section class="block container">
      <header class="block__header">
        <h2 class="block__heading">
          Lorem ipsum dolor sit amet.
        </h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae vel soluta minima saepe alias. Quod temporibus eaque facere recusandae tempore quo voluptatum nihil dolor inventore?
        </p>
      </header>
    </section>


    <section class="block container">
      <header class="block__header">
        <h2 class="block__heading">
          Lorem ipsum dolor sit amet.
        </h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae vel soluta minima saepe alias. Quod temporibus eaque facere recusandae tempore quo voluptatum nihil dolor inventore?
        </p>
      </header>
    </section>
    
    
    <section class="block block--black block--skewed-left">
      <div class="container">
      <header class="block__header">
        <h2 class="block__heading">
          Lorem ipsum dolor sit amet.
        </h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae vel soluta minima saepe alias. Quod temporibus eaque facere recusandae tempore quo voluptatum nihil dolor inventore?
        </p>
      </header>
    </div>
    </section>