<footer class="block block--black footer">
  <div class="container grid footer__section-container">
    <section class="collapse collapse--expanded footer__section">
      <header class="collapse__header">
        <h2 class="collapse__heading block__heading footer__heading">Products</h2>
        <span class="icon collapse__icon">
          <img src="image/chevron.svg" alt="chevron.svg">
        </span> 
      </header> 
      <div class="collapse__content"> 
        <ul class="lists">
          <li class="list__item"><a href="#">WordPress Hosting</a></li>
          <li class="list__item"><a href="#">Free Automated Wordpress</a></li>
          <li class="list__item"><a href="#">Domain names</a></li>
          <li class="list__item"><a href="#">Monthly Web Hosting</a></li>
         </ul>
      </div> 
    </section>
    <section class="collapse footer__section">
      <header class="collapse__header">
        <h2 class="collapse__heading block__heading footer__heading">Company</h2>
        <span class="icon collapse__icon">
          <img src="image/chevron.svg" alt="chevron.svg">
        </span> 
      </header> 
      <div class="collapse__content"> 
        <ul class="lists">
          <li class="list__item"><a href="#">About</a></li>
          <li class="list__item"><a href="#">Affiliates</a></li>
          <li class="list__item"><a href="#">Blog</a></li>
          <li class="list__item"><a href="#">Careers</a></li>
          <li class="list__item"><a href="#">Community</a></li>
          <li class="list__item"><a href="#">News</a></li>
          <li class="list__item"><a href="#">Green Hosting</a></li>
         </ul> 
      </div> 
    </section>
    <section class="collapse footer__section">
      <header class="collapse__header">
        <h2 class="collapse__heading block__heading footer__heading">Support</h2>
        <span class="icon collapse__icon">
          <img src="image/chevron.svg" alt="chevron.svg">
        </span> 
      </header> 
      <div class="collapse__content"> 
        <ul class="lists">
          <li class="list__item"><a href="#">Contact</a></li>
          <li class="list__item"><a href="#">Knowledge base</a></li>
          <li class="list__item"><a href="#">Forms</a></li>
          <li class="list__item"><a href="#">Systems Status</a></li>
          <li class="list__item"><a href="#">Web Hosting</a></li>
          <li class="list__item"><a href="#">Dream Computer</a></li>
         </ul>
      </div> 
    </section>
    <section class="collapse footer__section">
      <header class="collapse__header">
        <h2 class="collapse__heading block__heading footer__heading">Domains</h2>
        <span class="icon collapse__icon">
          <img src="image/chevron.svg" alt="chevron.svg">
        </span> 
      </header> 
      <div class="collapse__content"> 
        <ul class="lists">
          <li class="list__item"><a href="#">Domain Checker</a></li>
          <li class="list__item"><a href="#">Domain Transfer</a></li>
          <li class="list__item"><a href="#">Free Domain</a></li>
          <li class="list__item"><a href="#">ABC Domain</a></li>
          <li class="list__item"><a href="#">Web Hosting</a></li>
          <li class="list__item"><a href="#">Cheap SSl Certificate</a></li>
         </ul>
      </div> 
    </section>
    <section class="footer__brand">
      <img src="image/logo.svg" alt="">
      <!-- <img src="image/logo.png" alt=""> -->
      <p class="footer__copyright">Copyright 2022 Mosh</p>
    </section>
  </div>  
</footer>