<nav class="nav collapse">
  <a class="nav__brand" href="/"><img src="image/logo.svg" alt="Logo image"></a>
  <svg class="icon icon--white nav__toggler collapse--expanded">
    <use xlink:href="image/sprite.svg#menu"></use>
  </svg>
  <ul class="lists nav__lists collapse__content">
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
<script src="js/main.js"></script>