<div class="collapse collapse--expanded">
  <header class="collapse__header">
    <h2 class="collapse__heading">Toggle Me</h2>
    <span class="icon collapse__icon">
      <img src="image/chevron.svg" alt="chevron.svg">
    </span> 
  </header> 
  <div class="collapse__content"> 
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolorem dolores, nulla vel enim minima facere temporibus, eveniet aut maxime illum pariatur reprehenderit reiciendis maiores tenetur praesentium libero cum dicta assumenda obcaecati omnis incidunt! Maiores beatae est dolor deserunt assumenda, autem enim debitis saepe iusto corporis cum tempora doloribus, quibusdam rerum fuga similique amet id rem illum dolorum voluptate! Aperiam, officiis aut nobis architecto hic veniam suscipit est, laboriosam, corporis perspiciatis qui asperiores? Dolorem laborum commodi autem deserunt ipsam, tempora, cum non, iure odio aliquam repellat reiciendis eaque. Illo accusantium fugit impedit assumenda expedita! A natus laboriosam perferendis debitis ea.
</div> 
</div>
<div class="collapse collapse--expanded">
  <header class="collapse__header">
    <h2 class="collapse__heading">Toggle Me</h2>
    <span class="icon collapse__icon">
      <img src="image/chevron.svg" alt="chevron.svg">
    </span> 
  </header> 
  <div class="collapse__content"> 
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolorem dolores, nulla vel enim minima facere temporibus, eveniet aut maxime illum pariatur reprehenderit reiciendis maiores tenetur praesentium libero cum dicta assumenda obcaecati omnis incidunt! Maiores beatae est dolor deserunt assumenda, autem enim debitis saepe iusto corporis cum tempora doloribus, quibusdam rerum fuga similique amet id rem illum dolorum voluptate! Aperiam, officiis aut nobis architecto hic veniam suscipit est, laboriosam, corporis perspiciatis qui asperiores? Dolorem laborum commodi autem deserunt ipsam, tempora, cum non, iure odio aliquam repellat reiciendis eaque. Illo accusantium fugit impedit assumenda expedita! A natus laboriosam perferendis debitis ea.
</div> 
</div>
<script src="js/main.js"></script>